h1 {
  font-family: Arial;
  text-shadow: 1px 1px white;
  /*text-align: center;*/
  margin-left: 100px;
  font-size: 65px;
}

nav {
  text-align: center;
  background-color: grey;
  padding: 20px;
  text-align: right;
  opacity: 0.7;
  /*color: black;*/
}
.homes, .homez, .surgeOne, .surgeTwo, .titeOne, .titeTwo, .titeThree {
  text-align: center;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  background-color: #e0e2f5;
  /*max-width: 160px;*/
  margin: 0 auto;
  background-image: url('https://i.imgur.com/q9OqvqK.png');
  background-size: 100%;
  /*opacity: 0.3;*/
}

.theList {
  background-image: url('https://i.imgur.com/OkhLTSV.png');
  background-size: 100%;
  font-size: 25px;
  text-shadow: 1px 1px grey;
  background-attachment: fixed;
}

.searchList {
 background-image: url('http://i.imgur.com/ZbwcHyh.png');
  background-size: 100%;
  font-size: 25px;
  text-shadow: 1px 1px grey;
  background-attachment: fixed;
}

.eachList {
  margin-top: 50px;

}

.savedName {
  font-size: 25px
}

.titeOne {
  font-size: 25px;
}

.titeTwo {
  font-size: 25px;
}

.mainHead {
  color: #ffffff;
  text-align: center;
  font-size: 70px;
  margin-top: 250px;
  font-family: 'Roboto Slab';
  font-weight: bolder;
  text-shadow: 4px 4px black;
}

.homes {
  color: #ffffff;
  text-shadow: 4px 4px black;
}
