<h3>
  {{pr.title}}
</h3>

<div id='bookmark'>
  <ul>
    <li ng-repeat="bk in pr.bookmark">
      <div><button ng-click='pr.delete(bk)'>X</button><b>Name: {{bk.name}}</b></div>
      <div><img ng-src='{{bk.img}}'></div>
      <div>Calories: {{bk.calories | number:0}}</div>
      <div>Fat: {{bk.fat | number:0}}g</div>
      <div>Carbs: {{bk.carbs | number:0}}g</div>
      <div>Protein: {{bk.protein | number:0}}g</div>
      <div>Url: <a href='{{bk.url}}'>{{bk.url}}</a></div>
    </li>
  </ul>
</div>

